/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
} 

.home {
  display: flex;
  & .window {
    margin: 16px;
  }
  & .window-body {
    padding: 16px;
  }
}

.desktop {
  background-color: #008080;
}

.desktop-icons {
  display: flex;
  flex-direction: column;
  // margin: 16px;

  & a {
    text-decoration: none;
    color: black;
  }

}

.desktop-icon {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 96px;
  max-width: 96px;
  max-height: 64px;
  height: 64px;

  & img {
    width: 48px;
    height: 48px;
  }

  & figcaption {
    font-family: 'Pixelated MS Sans Serif';
    margin-top: 8px;
  }

}

button[aria-label="Start"] {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-width: 56px;
  padding: 0 4px;
  margin: 0px 4px 0px 0px;

  font-weight: bold;
  text-align: left;
  font-size: 11px;

  & > img {
    max-width: 16px;
    margin-right: 4px;
  }
}

.taskbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 23px;

  & > * {
    margin: 0px 4px;
  }
}

.social-icon {
  height: 18px;
  width: 18px;

  & > img {
    @extend .social-icon;
  }

}