.home {
  display: flex;
  & .window {
    margin: 16px;
    height: fit-content;
    max-width: 66%;
  }
  & .window-body {
    padding: 16px;
  }
}

.desktop {
  background-color: #008080;
  height: 100vh;
}

