.post-page {
  display: flex;

  & .window {
    margin-bottom: 128px;
    margin-top: 16px;
    max-width: 50%;

    @include media-query($on-palm) {
      margin-right: 0px;
      max-width: 100%;
    }
  }

  & .status-bar {
    margin: 6px -6px -6px -6px;
    
    &-field {
      font-size: 1rem;
      padding: 4px;
    }
  }
}

.post-content {
  & * {
    font-size: 1rem;
  }

  & h1, h2, h3, h4, h5, h6 {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  & h1 {
    font-size: 2rem;
  }

  & h2 {
    font-size: 1.6rem;
  }

  & h3 {
    font-size: 1.4rem;
  }

  & h4 {
    font-size: 1.2rem;
  }

  & h5 {
    font-size: 1.1rem;
  }

  & h6 {
    font-size: 1rem;
  }

  & img {
    max-width: 75%;
    margin: auto;
  }

  & p {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  & code {
    font-family: "Perfect DOS VGA 437 Win";
    font-size: 1.15rem;
  }

  & pre {
    overflow: scroll;
  }

  & .highlighter-rouge {
    margin-top: 12px;
    margin-bottom: 16px;
  }
}