@charset "utf-8";

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import pre-styling-overrides hook and style-partials.
@import
  "jekyll-98/custom-variables", // Hook to override predefined variables.
  "jekyll-98/base",             // Defines element resets.
  "jekyll-98/layout",           // Defines structure and style based on CSS selectors.
  "jekyll-98/custom-styles"     // Hook to override existing styles.
;

@include media-query($on-palm) {
  .hide-on-phone {
    display: none;
  }
}