---
layout: default
---

{% capture error_content %}
<table cellpadding="3" cellspacing="5" style="font-size: 1.2rem; padding: 8px; width: 550px">
  <tr>
    <td id="tableProps" valign="top" align="left" width="34"><img id="pagerrorImg" SRC="/assets/icons/error.png"
    width="33" height="33"><td width="360"><h4 id="textSection1"
    ><span id="errorText">The page cannot be displayed</span></h4></td>
    </td>
  </tr>
  <tr>
    <td id="tablePropsWidth" colspan="2"><font
    >The page you are looking for is currently
    unavailable. The Web site might be experiencing technical difficulties, or you may need to
    adjust your browser settings.</font></td>
  </tr>
  <tr>
    <td id="tablePropsWidth" colspan="2"><font id="LID1"
    ><hr color="#C0C0C0" noshade>
    <p id="LID2">Please try the following:</p><ul>
      <li id="instructionsText1">Click the 
      <a href="javascript:location.reload()" target="_self">
      <img valign="bottom" border=0 src="/assets/icons/refresh.png" width="16" height="16"
        alt="refresh.gif (82 bytes)"></a> <a href="javascript:location.reload()" onclick="function () { location.reload() }" target="_self">Refresh</a> button, or try again later.<br>
      </li>
      
      <li id="instructionsText2">If you typed the page address in the Address bar, make sure that
        it is spelled correctly.<br>
      </li>
      <li id="instructionsText3">To check your connection settings, click the <b>Tools</b> menu, and then click
        <b>Internet Options</b>. On the <b>Connections</b> tab, click <b>Settings</b>.
        The settings should match those provided by your local area network (LAN) administrator or Internet service provider (ISP). </li>
      <li ID="list4">If your Network Administrator has enabled it, Microsoft Windows
          can examine your network and automatically discover network connection settings.<BR>
          If you would like Windows to try and discover them,
          <br>click <a  href="" title="Detect Settings"><img border=0 src="/assets/icons/search.png" width="16" height="16" alt="Detect Settings" valign="bottom"> Detect Network Settings</a> 
      </li>
    <li id="instructionsText5">
        Some sites require 128-bit connection security. Click the <b>Help</b> menu and then click <b> About Internet Explorer </b> to determine what strength security you have installed.
    </li>
    <li id="instructionsText4">
        If you are trying to reach a secure site, make sure your Security settings can support it. Click the <B>Tools</b> menu, and then click <b>Internet Options</b>.  On the Advanced tab, scroll to the Security section and check settings for SSL 2.0, SSL 3.0, TLS 1.0, PCT 1.0. 
    </li>
      <li id="list3">Click the <a href="javascript:history.back()" onclick="function () { history.back() }"><img valign=bottom border=0 src="/assets/icons/back.png"width="16" height="16"> Back</a> button to try another link. </li>    
    </ul>
    <p><br>
    </p>
    <h6 id="IEText" >Cannot find server or DNS Error<BR> Internet Explorer 
	
    </h2>
    </font></td>
  </tr>
</table>
{% endcapture %}

{% include window.html title="Page not found - Microsoft Internet Explorer" content=error_content style="max-width: 550px; margin: 16px" %}